<div class="center">
    <h1>キャンプ場一覧</h1>
    <form class="navbar-form" role="search">
      <div class="row">
       <div class="col-md-6 col-md-offset-3">
        <%= form_tag(search_path,:method => 'get') do %>
          <%= text_field_tag :search,"",class: 'form-control',placeholder: "どこへ行きますか？"%>
          <%= submit_tag '検索', :name => nil ,class: "btn btn-primary"%>
        <% end %>
       </div>
      </div>
	  </form>
	<% if logged_in? %>
        <p><%=link_to "キャンプ場を追加する","/sugest"%></p>
    <% end %>
    <% @locations.each do |location| %>
        <%= image_tag location.top_img if location.top_img? %></br>
        <%= location.prefecture %>:
        <%=link_to location.name,"/locations/#{location.id}"%></br>
    <% end %>
</div>