<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>

<div class="center">
    <h1><%= @location.name%></h1>
    <p>〒：<%= @location.postcode %></p>
    <p><%= @location.prefecture %></p>
    <p><%= @location.address%></p>
    <!--地図API--><!--div id='map'-->
    <%=link_to "写真を投稿する","/locations/#{@location[:id]}/post"%>
    <h3>投稿画像一覧</h3>

    <% @location.posts.each do |post| %>
        <%=link_to post.post_img.url,"data-lightbox"=>post.post_img.url do %>
            <%=image_tag post.post_img.url if post.post_img?%>
        <%end%>
    <% end %>
</div>
