<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>

<div class="container">
 <div class="inline-block_location">
  <div id="map" style="width:250px; height:250px;"></div>
 </div>
 <div class="inline-block_location">
  <div class="table-responsive">
   <table class="table table table-striped">
    <h2 id="address"><%=@location.name%><h2>
     <tbody>
     <tr>
      <th>郵便番号</th>
      <td class="left"><%= @location.postcode %></td>
     </tr>
     <tr>
      <th>都道府県</th>
      <td class="left"><%= @location.prefecture %></td>
     </tr>
     <tr>
      <th>住所</th>
      <td class="left"><%= @location.address%></td>
     </tr>
    </tbody>
   </table>
  </div>
 </div>

 
 <h3><b>24時間天気</b></h3>
 <div class="table-responsive">
  <table class="table table-bordered">
   <tbody>
    <tr>
     <th></th>
     <th class="center"><span id="today"></span></th>
     <th class="center"><span id="day1"></span></th>
     <th class="center"><span id="day2"></span></th>
     <th class="center"><span id="day3"></span></th>
     <th class="center"><span id="day4"></span></th>
     <th class="center"><span id="day5"></span></th>
     <th class="center"><span id="day6"></span></th>
     <th class="center"><span id="day7"></span></th>
    </tr>
    <tr>
     <th>時間(時)</th>
     <th class="center"><span id="next0"></span></th>
     <th class="center"><span id="next1"></span></th>
     <th class="center"><span id="next2"></span></th>
     <th class="center"><span id="next3"></span></th>
     <th class="center"><span id="next4"></span></th>
     <th class="center"><span id="next5"></span></th>
     <th class="center"><span id="next6"></span></th>
     <th class="center"><span id="next7"></span></th>
    </tr>
    <tr>
     <th class="vc">天気<th>
     <div class="center"><span id="tenkilogo0" class="bold"></span></div>
     <td><div class="center"><span id="tenkilogo1" class="bold"></span></div></td>
     <td><div class="center"><span id="tenkilogo2" class="bold"></span></div></td>
     <td><div class="center"><span id="tenkilogo3" class="bold"></span></div></td>
     <td><div class="center"><span id="tenkilogo4" class="bold"></span></div></td>
     <td><div class="center"><span id="tenkilogo5" class="bold"></span></div></td>
     <td><div class="center"><span id="tenkilogo6" class="bold"></span></div></td>
     <td><div class="center"><span id="tenkilogo7" class="bold"></span></div></td>
    </tr>
    <tr>
     <th>気温(℃)</th>
     <td><span id="temp0" class="bold"></span></td>
     <td><span id="temp1" class="bold"></span></td>
     <td><span id="temp2" class="bold"></span></td>
     <td><span id="temp3" class="bold"></span></td>
     <td><span id="temp4" class="bold"></span></td>
     <td><span id="temp5" class="bold"></span></td>
     <td><span id="temp6" class="bold"></span></td>
     <td><span id="temp7" class="bold"></span></td>
    </tr>
    <tr>
     <th>風向</th>
     <td><span id="winddeg0" class="bold"></span></td>
     <td><span id="winddeg1" class="bold"></span></td>
     <td><span id="winddeg2" class="bold"></span></td>
     <td><span id="winddeg3" class="bold"></span></td>
     <td><span id="winddeg4" class="bold"></span></td>
     <td><span id="winddeg5" class="bold"></span></td>
     <td><span id="winddeg6" class="bold"></span></td>
     <td><span id="winddeg7" class="bold"></span></td>
     
    </tr>
    <tr>
     <th>風速(m/s)</th>
     <td><span id="wind0" class="bold"></span></td>
     <td><span id="wind1" class="bold"></span></td>
     <td><span id="wind2" class="bold"></span></td>
     <td><span id="wind3" class="bold"></span></td>
     <td><span id="wind4" class="bold"></span></td>
     <td><span id="wind5" class="bold"></span></td>
     <td><span id="wind6" class="bold"></span></td>
     <td><span id="wind7" class="bold"></span></td>
    </tr>
   </tbody>
  </table>
 </div>

 <div>
  <a class="btn btn-default navbar-btn main_link_btn fa fa-camera" href=/locations/<%=@location.id%>/post>投稿</a>
  <h3><b>投稿画像一覧</b></h3>
   <% @location.posts.each do |post| %>
    <div class=" col-md-4">
     <div class="thumbnail">
      <div class="thumbnail_image">
       <%=link_to post.post_img.url,"data-lightbox"=>post.post_img.url do %>
        <%=image_tag post.post_img.url,style:"width:300px;" if post.post_img?%>
       <%end%>
      </div>
     </div>
    </div>
   <% end %>
 </div>
</div>

<!--日付-->
<script>
var now= new Date();
var mon=now.getMonth()+1;
var day=now.getDate();
document.getElementById("view_time").innerHTML= "24時間天気"

</script>

<!--お天気API-->
<script>
$(function (){

   var lat = <%= @location.geolat %>
   var lng = <%= @location.geolng %>

    //$.post("http://api.openweathermap.org/data/2.5/weather?lat="+lat+"&lon="+lng+"&APPID=<%= ENV['OWM_API_KEY'] %>&lang=ja&units=metric",
    $.post("http://api.openweathermap.org/data/2.5/forecast?lat="+lat+"&lon="+lng+"&APPID=<%= ENV['OWM_API_KEY'] %>&lang=ja&units=metric&cnt=11",

   function(json){
	   for (let n=0; n<=7; n++) {
        $("#tenki").html(json.list[n].weather[0].description);
        $("#temp"+n).html(Math.round(json.list[n].main.temp));
        $("#winddeg"+n).html(get_deg(json.list[n].wind.deg));
        $("#wind"+n).html(Math.round(json.list[n].wind.speed));
        $("#next"+n).html(get_hour(json.list[n+3].dt_txt));
        $("#today").html(get_today(json.list[3].dt_txt));        
        $("#day"+n).html(get_day(json.list[n+3].dt_txt));        
      //天気ロゴ
      switch (json.list[n].weather[0].main){
         case 'Clear':
         $("#tenkilogo"+n).html("<img src='http://openweathermap.org/img/w/01d.png' >");
         break;
         case 'Clouds':
         $("#tenkilogo"+n).html("<img src='http://openweathermap.org/img/w/04d.png' >");
         break;
         case 'Rain':
         $("#tenkilogo"+n).html("<img src='http://openweathermap.org/img/w/09d.png' >");
         break;
         case 'Snow':
         $("#tenkilogo"+n).html("<img src='http://openweathermap.org/img/w/13d.png' >");
         break;
         case 'Fog':
         $("#tenkilogo"+n).html("<img src='http://openweathermap.org/img/w/50d.png' >");
         break;
         case 'Mist':
         $("#tenkilogo"+n).html("<img src='http://openweathermap.org/img/w/50n.png' >");
         break;
         case 'Haze':
         $("#tenkilogo"+n).html("<img src='http://openweathermap.org/img/w/50d.png' >");
         break;
         default:
         $("#tenkilogo"+n).html("<img src='http://openweathermap.org/img/w/01n.png' >");
      };
     }  
    });
});

//時間変換
var get_hour = function(hour){
 var hour1=hour.split(":");
 var hour2=hour1[0].split(/\s/);
  if (hour2[1]=="00") zeit=0;
  if (hour2[1]=="03") zeit=3;
  if (hour2[1]=="06") zeit=6;
  if (hour2[1]=="09") zeit=9;
  if (hour2[1]=="12") zeit=12;
  if (hour2[1]=="15") zeit=15;
  if (hour2[1]=="18") zeit=18;
  if (hour2[1]=="21") zeit=21;
  return zeit;
}

//日付変換today
var get_today = function(today){
 var todaya=today.split(/\s/);
 var todayb=todaya[0].split("-");
 if(todayb[1]!="10"||"11"||"12"){
  var todayc=todayb[1].split("0");
 }else{
  var todayc=todayb[1]
 }
 if(todayb[2]!="10"||"20"||"30"){
  if(todayb[2].match(/0/)){
   var todayd=todayb[2].split("0");
   return todayc[1]+"/"+todayd[1];   
  }else{
   return todayc[1]+"/"+todayb[2]; 
  }
 }else{
  return todayc[1]+"/"+todayb[2]; 
 }
 var thour1=today.split(":");
 var thour2=thour1[0].split(/\s/);
}

//日付変換tomorrow
var get_day = function(day){
 var daya=day.split(/\s/);
 var dayb=daya[0].split("-");
 if(dayb[1]!="10"||"11"||"12"){
  var dayc=dayb[1].split("0");
 }else{
  var dayc=dayb[1]
 }
 if(dayb[2]!="10"||"20"||"30"){
  if (dayb[2].match(/0/)){
   var dayd=dayb[2].split("0");
  }else{
   var dayd=dayb[2]
  }
 }else{
  var dayd=dayb[2]
 }
 var hour1=day.split(":");
 var hour2=hour1[0].split(/\s/);
  if (hour2[1]=="00") {
   dayreturn=dayc[1]+"/"+dayd[0]+dayd[1];
  }else{
   dayreturn=null;
  }
  return dayreturn;
}

//風向
 var get_deg = function(deg) {
  var r = '北';
  if (deg>=11.25) r = '北北東';
  if (deg>=33.75) r = '北東';
  if (deg>=56.25) r = '東北東';
  if (deg>=78.75) r = '東';
  if (deg>=101.25) r = '東南東';
  if (deg>=123.75) r = '南東';
  if (deg>=146.25) r = '南南東';
  if (deg>=168.75) r = '南';
  if (deg>=191.25) r = '南南西';
  if (deg>=213.75) r = '南西';
  if (deg>=236.25) r = '西南西';
  if (deg>=258.75) r = '西';
  if (deg>=281.25) r = '西北西';
  if (deg>=303.75) r = '北西';
  if (deg>=326.25) r = '北北西';
  return r;
 }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> 

<!--地図API-->
<script>
var lat = <%= @location.geolat %>
var lng = <%= @location.geolng %>

function initMap(){
   geocoder = new google.maps.Geocoder()
   var options = {
      zoom:8,
      center:{lat: lat,lng: lng}
   }
   
   var map = new
   google.maps.Map(document.getElementById("map"),options);
   
   var marker = new google.maps.Marker({
      position:{lat: lat,lng: lng},
      map: map
   });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
